{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_columns %}
    {{ parent() }}
    {% if page.extensions.authors %}
        <div class="container">
            <h3>Authors</h3>
            <ul>
                {% for author in page.extensions.authors %}
                <li>{{ author.birthdate }} - {{ author.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
